<div class="login-section" style="background-image: url('dist/img/bg.png');">
    <div class="container">
        <div class="login-block">
            <form name="SignupForm">
                <div class="row-table">
                    <div class="col-cell">
                        <div class="form-block">
                            <div class="logo-block text-center">
                                <div class="logo-heading"><strong></strong></div>
                                <div class="logo-heading">Your Details</div>
                            </div>
                            <div class="whitebg-section">
                                <div class="row">
                                    <div class="form-group clearfix">
                                        <label class="control-label col-md-12">First Name : {{info.firstName}}</label>
                                        <ul>
                                     </div>
                                     <div class="form-group clearfix">
                                        <label class="control-label col-md-12">Last Name : {{info.lastName}}</label>
                                     </div>
                
                                     <div class="form-group clearfix">
                                        <label class="control-label col-md-12">Email: {{info.email}}</label>
                                        
                                    </div>
                                    <div class="form-group clearfix">
                                       <label class="control-label col-md-12">Password : {{info.password}}</label>
                                       
                                   </div>
                                   <!-- <div class="form-group clearfix">
                                    <label class="control-label col-md-12">Address : {{info.address}}</label>
                                    
                                 </div>
                                 <div class="form-group clearfix">
                                   <label class="control-label col-md-12">Gender : {{info.gender}}</label>
                            
                                       </div>
                                       <div class="form-group clearfix">
                                        <label class="control-label col-md-12">Mobile : {{info.mobile}}</label>                      
                                        </div>
                                     <div class="form-group clearfix">
                                       <label class="control-label col-md-12">Education : {{info.education}}</label>
                                   </div> -->

                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>







<!-- <div class="login-section" style="background-image: url('dist/img/bg.png');">
    <div class="container">
        <div class="login-block">
            <form name="SignupForm">
                <div class="row-table">
                    <div class="col-cell">
                        <div class="form-block">
                            <div class="logo-block text-center">
                                <div class="logo-heading"><strong>SignUp</strong></div>
                                <div class="logo-heading">Fill Your Details</div>
                            </div>
                            <div class="whitebg-section">
                                <div class="row">
                                    <div class="form-group clearfix">
                                        <label class="control-label col-md-12">First Name : {{info.firstName}}</label>
                                        <ul>
                                        </div>
                                        <div class="form-group clearfix">
                                            <label class="control-label col-md-12">Last Name : {{info.lastName}}</label>
                                        </div>
                                        <div class="form-group clearfix">
                                            <label class="control-label col-md-12">Age : {{info.age}}</label>

                                        </div>
                                        <div class="form-group clearfix">
                                            <label class="control-label col-md-12">Date of Birth : {{info.date}}</label>

                                        </div>
                                        <div class="form-group clearfix">
                                           <label class="control-label col-md-12">Company Name : {{info.company}}</label>

                                       </div>
                                       <div class="form-group clearfix">
                                        <label class="control-label col-md-12">Address : {{info.address}}</label>

                                    </div>
                                    <div class="form-group clearfix">
                                       <label class="control-label col-md-12">Gender : {{info.gender}}</label>

                                   </div>
                                   <div class="form-group clearfix">
                                       <label class="control-label col-md-12">Mobile : {{info.mobile}}</label>                      
                                   </div>
                                   <div class="form-group clearfix">
                                       <label class="control-label col-md-12">Education : {{info.education}}</label>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</form>
</div>
</div>
</div>
 -->