<div class="login-section" style="background-image: url('dist/img/bg.png');">
    <div class="container">
        <div class="login-block">
            <form name="SignupForm">
                <div class="row-table">
                    <div class="col-cell">
                        <div class="form-block">
                            <div class="logo-block text-center">
                                <div class="logo-heading"><strong>Successful Login</strong></div>
                                <div class="logo-heading">Your Details</div>
                            </div>
                            <div class="whitebg-section">
                                <div class="row">
                                    <div class="form-group clearfix">
                                        <label class="control-label col-md-12">Congrats</label>
                                        <ul>
                                     </div>
                                   
                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
